/*--Surrounding Container--*/
div#bannersHeader div.content {
	overflow: hidden;
	background: transparent url(../img/bannerBottomGreyShadow.jpg) no-repeat 0 100%;
	padding-bottom: 3px;
}

/*--Main Container--*/
.main_view {
	float: left;
	position: relative;
}

/*--Window/Masking Styles--*/
.window {
	height: 305px;
	width: 984px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
}

.image_reel {
	position: absolute;
	top: 0; left: 0;
}

.image_reel img {float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 30px;
	left: 29px;
	width: 950px;
	height: 25px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	line-height: 40px;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}

.paging a {
	width: 18px;
	height:18px;
	padding: 2px 6px;
	text-decoration: none;
	color: #000;
	background-image: url(../img/banner_slideshowNumberBoxes.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;
}

.paging a.active {
	background-position: 0 -18px;
	color: #FFF;
}